@media (max-width: 900px) {
    .flex.socialLink i {
        margin-top: 25px;
        font-size: 50px !important;
    }
    .flex.personName h1 {
        font-size: 35px !important;
    }
    .flex.personName h3 {
        font-size: 16px !important;
    }
    .personImg {
        width: 150px;
        height: 150px;
    }
    .personalInfos span {
        font-size: 25px;
    }
    #person {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .personalInfos span {
        font-size: 18px;
    }
    #person {
        width: 100%;
    }
    .flex.personName h1 {
        font-size: 20px !important;
    }
    .flex.personName h3 {
        font-size: 12px !important;
    }
}

@media (max-width: 540px) {
    .personInfo {
        margin-left: 0 !important;
        gap: 0;
    }
    .flex.personName h3 {
        text-align: center;
    }
    .flex.socialLink i {
        font-size: 35px !important;
    }
    .flex.personExtraInfo {
        flex-direction: column;
        width: 100%;
    }
    .personImg {
        height: 180px;
    }
}

@media (max-width: 420px) {
    .flex.socialLink i {
        font-size: 30px !important;
    }
    .personImg {
        height: 165px;
    }
    .flex.personName h3 {
        text-align: left;
    }
}

@media (max-width: 390px) {
    .personcard {
        padding: 13px;
    }
}