@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.button__group {
  display: flex;
  gap: 15px;
  align-items: center;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}
.button__group a {
  transition: 0.4s ease-in-out;
}
.button__group a:not(.nav__button__orange):hover {
  color: #fc820f;
}
.button__group .nav__button__orange:hover {
  transform: scale(1.1);
}
.hamburger {
  display: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.hamburger span {
  width: 33px;
  height: 4px;
  background-color: #fc820f;
  margin-top: 4px;
  display: block;
  transition: all 0.4s ease-in-out;
}

.nav__button,
.nav__button__orange {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav__button__orange {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fc820f;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#whatIsHiKod {
  text-align: center;
  margin-top: 150px;
}

#whatIsHiKod h1,
#whatIsHiKod p {
  text-align: center;
  margin-bottom: 30px;
}

.hikodTitle {
  color: #fc820f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
}

.card-container {
  position: relative;
  width: 20%;
  border-radius: 20px;
}

.card {
  text-align: center;
  background-color: rgb(254, 234, 215, 0.5);
  padding: 50px 40px;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  color: #333;
  height: 220px;
  z-index: 3;
}

#shape1,
#shape2,
#shape3 {
  position: absolute;
  z-index: -1;
}

#shape1 {
  bottom: -20%;
  left: -10%;
}

#shape2 {
  bottom: -25%;
  left: 40%;
}

#shape3 {
  top: -20%;
  left: 80%;
}

main {
  background: linear-gradient(to bottom, #ffffff, #feead7);
  padding: 50px;
  margin-top: 100px;
}

.atolye-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  flex-wrap: wrap;
  gap: 15px;
  margin: 80px auto;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 30%;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
}

#jsLang {
  margin-left: 11px;
}

.header__container {
  background-image: linear-gradient(90deg, #fc820fbe, #fc820f98),
    url(../assets/img/img.jpeg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.text__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.imgtext,
.imgtext2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  color: white;
}

.imgtext2 {
  font-weight: 600;
  font-size: 48px;
  opacity: 0.7;
  margin-top: -70px;
}

/* Mentorler baslangıc */

#mentorlerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mentorCard {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 15px;
}

.mentorContact {
  display: flex;
  align-items: center;
  /* justify-content: center;*/
}

.mentorImg img {
  width: 95px;
  height: 95px;
  border-radius: 20px;
}

.mentorInfo {
  margin-bottom: 3%;
}

.mentorInfo span {
  font-size: 12px;
}

.mentorInfo h3 {
  margin-bottom: 15px;
}

.socialMediaName {
  margin-right: 20px;
  margin-left: 5px;
}

#seeAllMentors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#seeAllMentors a {
  text-decoration: none;
  color: #fc820f;
}

/* Mentorler bitis */

footer {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.footer-sag {
  display: flex;
}
.footer-sag a {
  transition: all 0.4s ease-in-out;
}
.footer-sag a:not(.nav__button__orange):hover {
  color: #fc820f !important;
}
.footer-sag .nav__button__orange:hover {
  transform: scale(1.1);
}
#scrtollToTop {
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 30px;
  color: #fff;
  background-color: #fc820f;
  padding: 5px;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.4s ease-in;
}

#scrtollToTop:hover {
  opacity: 1;
}
.mentorImg img {
  object-fit: contain;
}

#person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 120px 120px;
  width: auto;
  height: 1275px;
  background: #feead7;
}

.personcard {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 40px;
  isolation: isolate;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

/* 
.personcard>img{
width: 300px;
height: 300px;
border-radius: 20px;
} */

.personcard > h1 {
  width: 797px;
  height: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 100.02%;
  /* identical to box height, or 64px */
  letter-spacing: -0.04em;
  color: #fc820f;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentorInfo > a {
  text-decoration: none;
}

.svg {
  height: 50px;
}
