html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.button__group {
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav__button,
.nav__button__orange {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.nav__button__orange {
  background-color: #fc820f;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
#whatIsHiKod {
  text-align: center;
}
#whatIsHiKod h1,
#whatIsHiKod p {
  text-align: center;
  margin-bottom: 30px;
}

.hikodTitle {
  color: #fc820f;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
}
.card-container {
  position: relative;
  width: 20%;
  border-radius: 20px;
}
.card {
  text-align: center;
  background-color: rgb(254, 234, 215, 0.5);
  padding: 50px 40px;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  color: #333;
  height: 220px;
  z-index: 3;
}

#shape1,
#shape2,
#shape3 {
  position: absolute;
  z-index: -1;
}
#shape1 {
  bottom: -20%;
  left: -10%;
}

#shape2 {
  bottom: -25%;
  left: 40%;
}

#shape3 {
  top: -20%;
  left: 80%;
}

main {
  background: linear-gradient(to bottom, #ffffff, #feead7);
  padding: 50px;
  margin-top: 100px;
}
.atolye-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  flex-wrap: wrap;
  gap: 15px;
  margin: 80px auto;
}
.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 30%;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
}
#jsLang {
  margin-left: 11px;
}

.header__container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/img.png);
  height: 1012px;
}
.text__container {
  display: grid;
  justify-content: center;
  max-width: 939px;
}
.imgtext,
.imgtext2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  color: white;
}
.imgtext2 {
  font-weight: 600;
  font-size: 48px;
  opacity: 0.5;
  margin-top: -70px;
}

/* Mentorler baslangıc */

#mentorlerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mentorCard {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 15px;
}
.mentorContact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mentorImg img {
  width: 70px;
  border-radius: 20px;
}
.mentorInfo {
  margin-bottom: 3%;
}
.mentorInfo span {
  font-size: 12px;
}
.mentorInfo h3 {
  margin-bottom: 5px;
}

#seeAllMentors {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-top: 30px;
  margin-bottom: 20px;
}
#seeAllMentors a {
  text-decoration: none;
  color: #fc820f;
}
/* Mentorler bitis */

footer {
  height: 150px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-sag {
  display: flex;
  justify-content: end;
}

@media (max-width: 1618px) {
  .atolye-container {
    width: 30%;
  }
  .lang {
    width: 30%;
  }
  #jsLang {
    margin-left: 15px;
  }
}
@media (max-width: 1520px) {
  .mentorContact {
    display: block;
  }
}
@media (max-width: 1281px) {
  #shape1,
  #shape2,
  #shape3 {
    display: none;
  }
  .card-container {
    width: 65%;
  }
  .atolye-container {
    width: 40%;
  }
  .lang {
    width: 30%;
  }
  #jsLang {
    margin-left: 18px;
  }
  .mentorImg img {
    width: 50px;
  }
  .mentorInfo h3 {
    font-size: 15px;
  }
}
@media (max-width: 1052px) {
  #mentorlerContainer {
    flex-direction: column;
  }
  .mentorCard {
    width: 60%;
  }
  .mentorImg img {
    width: 70px;
  }
  .mentorInfo h3 {
    font-size: 20px;
  }
  .mentorContact {
    display: flex;
  }
}
@media (max-width: 1025px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-container {
    width: 65%;
  }

  .atolye-container {
    width: 50%;
  }
  .lang {
    width: 30%;
  }

  #jsLang {
    margin-left: 17px;
  }
}

@media (max-width: 718px) {
  .atolye-container {
    width: 70%;
  }
  .lang {
    width: 29%;
  }
  .lang span {
    font-size: 13px;
  }
  .lang img,
  .lang svg {
    width: 15px;
  }
  #jsLang {
    margin-left: 27px;
  }
  .mentorCard {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .mentorCard {
    width: 100%;
  }
}
@media (max-width: 465px) {
  .mentorInfo span {
    font-size: 10px;
  }
  .mentorInfo i {
    font-size: 10px;
  }
}
@media (max-width: 448px) {
  .atolye-container {
    width: 100%;
  }
  .lang {
    width: 29%;
  }
  .lang span {
    font-size: 10px;
  }
  .lang img {
    width: 12px;
  }
  #jsLang {
    margin-left: 15px;
  }
}
@media (max-width: 430px) {
  .mentorInfo h3 {
    font-size: 12px;
  }
  .mentorImg img {
    width: 50px;
  }
  .mentorContact {
    display: block;
  }
}
@media (max-width: 350px) {
  .atolye-container {
    width: 100%;
  }
  .lang {
    width: 28%;
  }
  .lang span {
    font-size: 10px;
  }
  .lang img {
    width: 12px;
  }
  #jsLang {
    margin-left: 7px;
  }
  .mentorInfo h3 {
    font-size: 10px;
  }
  .mentorContact span {
    font-size: 8px;
  }
  .mentorContact i {
    font-size: 8px;
  }
  #seeAllMentors a {
    font-size: 10px;
  }
}
@media (max-width: 306px) {
  .card svg {
    height: 30px;
  }
  .card h3 {
    font-size: 13px;
  }

  .atolye-container {
    width: 100%;
  }
  .lang {
    width: 27%;
  }
  .lang span {
    font-size: 8px;
  }
  .lang img {
    width: 8px;
  }
  .mentorImg img {
    width: 40px;
  }
}
