body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

h1{
    color: #fc820f;
    font-size: 35px;
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

#shape1{
    position: absolute;
    bottom: -40px;
    left: 257px;
}

#shape2{
    position: absolute;
    bottom: -50px;
    left: 815px;
}

#shape3{
    position: absolute;
    top: -40px;
    left: 1170px;
}

.card{
    text-align: center;
    background-color: rgb(254, 234, 215, 0.5);
    width: 20%;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    color: #333;
    height: 220px;
    padding: 50px 40px;
}

.frontEndAtolye{
    background: linear-gradient(to bottom, #ffff, #feead7);
    padding: 50px;
}

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    width: 120px;
    gap: 10px;
    border-radius: 5px;
    padding: 9px;
}

.atolye_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    margin: 80px auto;
    flex-wrap: wrap;
    gap: 15px;
}